/*//
// Write a mixin for border radius which takes a pixel parameter that includes vendor prefixes
//
//*/

@mixin border-radius($pixels) {
  border-radius: $pixels;
  -webkit-border-radius: $pixels; 
  -moz-border-radius: $pixels; 
  -ms-border-radius: $pixels;
}

@mixin box-shadow($vars) {
  -moz-box-shadow: $vars;
  -webkit-box-shadow: $vars;
  box-shadow: $vars;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background: #333;
  text-align: center;
  color: #dedede;
}

h1 {
  font-size: 3em;
}

input {
  border: none;
  font-size: 1.4em;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 4px;
  outline: none;
  display: block;
  width: 350px;
  margin: 0 auto;
  @include border-radius(4px);
  @include box-shadow(3px 3px 3px #AAA inset);
}
button {
  display: block;
  width: 150px;
  margin: 10px auto;
  font-size: 1.4em;
  font-family: Verdana, sans-serif;
  background: #BBB;
  outline: none;
  @include box-shadow(2px 2px 0px #777);
  @include border-radius(4px);
}

#results {
  width: 80%;
  margin: 40px auto 0;
  th {
    font-size: 1.4em;
    text-align: left;
    white-space: nowrap;
  }
  td {
    text-align: left;
  }
}

@media only screen 
and (max-device-width : 1024px) 
and (min-device-width : 320px) {
  input, #x-btn-submit {
    width: 100%;
    font-size: 1em;
  }

  #results {
    width: 85%;
    th {
      display: none;
    }
  }

  h1 {
    font-size: 2em;
    margin-top: 15%;
  }

  table, #results, th, td, tr { 
    display: block; 
  }

  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    word-wrap: break-word;
  }
  
  td:before { 
    position: absolute;
    top: 5%;
    left: 6px;
    width: 45%; 
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Category"; }
  td:nth-of-type(3):before { content: "X-Streets"; }
  td:nth-of-type(4):before { content: "URL"; }
  td:nth-of-type(5):before { content: "Phone #"; }
  td:nth-of-type(6):before { content: "Twitter"; }
  
}

@media only screen
and (max-device-width : 767px)
and (min-device-width: 425px) {
  input, #x-btn-submit {
    width: 80%;
    font-size: 1em;
  }
  #results {
    width: 70%;
  }
}

@media only screen
and (max-device-width : 1024px)
and (min-device-width: 768px) {
  input, #x-btn-submit {
    width: 60%;
    font-size: 1.4em;
  }
  #results {
    width: 40%;
    td {
      font-size: 1.5em;
    }
  }

  h1 {
    font-size: 2.5em;
  }
}

