<h1>Dopamine Ready2eat Device</h1>

<p>
  <input type="text" id="location" value="" placeholder="Enter Zipcode or City, State" />
  <button id="x-btn-submit" class="submit-btn">Search</button>
</p>

<div>
  <table id="results">
  </table>
</div>
